<html>
<head>
    <title></title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=1280, initial-scale=1">
</head>
<script src="{{ url_for('static', path='/boba.js') }}"></script>
<body>
    <div id="snailhouse" style="position: relative; width: 460px; height: 100px;">
        <svg width="460" height="100" style="position: absolute; top: 0; left: 0">
            <path id="follow" d="M 0,80 C 100,120 300,0, 400,80 L 450,0"/>
            <path id="squiggle" d="M0,0"/>
        </svg>
        <h1 class="">🐌 <a href="/">m.oo.</a> • <a href="https://arsenykriuchkov.bandcamp.com" id="musicthing"></a></h1>
        <div style="position: absolute; right: 60px; top: 0;">
            <h1 style="margin: 0"><a href="/library">随</a></h1>
        </div>
    </div>
    <div id="content">
        <p id="hello">
            阿尔谢尼 克留奇科夫。
        </p>
        <hr>
        <div id="composition">

            <p id="left-video">
            </p>

            <p id="right-video">
                <iframe width="400" height="315" id="right-video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </p>

            <p>
                <a href="https://arsenykriuchkov.bandcamp.com/album/--4">
                    <img src="/static/失​落​悼​念.jpg" width="400" height="400">
                </a>
            </p>

            <p>
                <a href="https://arsenykriuchkov.bandcamp.com/album/--3">
                    <img src="/static/Lof.jpg" width="400" height="400">
                </a>
            </p>

        </div>
        <hr>
        <p><a href="mailto:arseny.kriuchkov@gmail.com">arseny.kriuchkov@gmail.com</a></p>
    </div>
    <footer style="height: 100px;"></footer>
</body>
<script>
    makeSquiggle("squiggle", "follow", get_random(Array(25, 14, 30)), get_random(Array(19, 20, 21)));

    document.getElementById("musicthing").innerText = get_random(Array("𝄐", "𝄫", "𝄆"));

    function add_embed(id, link) {
        document.getElementById(id).innerHTML = '<iframe width="400" height="315" src="' + link +'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>'
    }
    
    add_embed("left-video", "https://www.youtube.com/embed/" + get_random(Array(
        "0LQk11mIHbQ", 
        "Sog8kgAD6_s",
        "AFIYSFNcnXs",
        "Nq6C-RwkXL8",
    )))

    add_embed("right-video", "https://www.youtube.com/embed/" + "u6Dm1oEEHSU")

    let hello_text = get_random(Array("阿森", "阿尔谢尼")) + " " + "克留奇科夫。";
    hello_text += get_random(Array.from("☕️🐛🤿🏯"));

    document.getElementById("hello").innerText = hello_text;

    var siteWidth = 500;
    var scale = screen.width /siteWidth;

    document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');
</script>
</html>